SPRING_DATASOURCE_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=agent_store
POSTGRES_PORT=5432
RUNTIME_TOKEN_SECRET=replace-with-at-least-16-characters
X402_PRIVATE_KEY=
INTEGRATION_DATASOURCE_PASSWORD=postgres
